.body
{
	margin: 10px;
	padding: 10px;
}
.table tr .detail{
	font-weight: bold;
}
td .detail{
	font-weight: bold;
}
.mydetail{
	font-weight: bold;
	color: #000;
}
.mysub-menu
{
	margin-top:10px;
	border-top: 4px solid #fff;
}

/*rosee*/
.jarakspan{
 	padding-left: 150px;
}
